@model TipoModel

<h1>Borrar Tipo de Producto</h1>

<form class="form" asp-controller="Tipos" asp-action="TipoDelete">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Tipo</label>
        <input type="text" autocomplete="off" class="form-control" asp-for="Nombre" placeholder="Escribe el nombre" readonly>
    </div>

    <div class="mb-3">
        <label asp-for="Descripcion"  class="form-label">Descripción</label>
        <textarea class="form-control" asp-for="Descripcion"  rows="3" readonly></textarea>
    </div>

    <button class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-controller="Tipos" asp-action="TipoList">Regresar</a>
</form>
